.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;

    .information {
        color: #757575;
        font-size: 13px;
        margin-left: 10px;
    }
}