@mixin sidebar-styles ($width) {
    @include light {
        background-color: white;
    }

    @include dark {
        background-color: #1f1f1f;
    }

    position: sticky;
    top: 0;
    height: 100vh;
    width: $width;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 4px #00000024,
    0px 3px 3px #0000001f,
    0px 1px 8px #00000033;
    z-index: 10;
}

@mixin link-styles($padding) {
    padding: $padding;
    display: block;
    width: 100%;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    .label {
        @include light {
            color: black;
        }

        @include dark {
            color: white;
        }

        padding-left: 15px;
    }
}

.sidebar {
    @include sidebar-styles(250px);
}

.sidebar-minimize {
    @include sidebar-styles(50px);
}

.linksInner {
    padding: 1rem 0;
}

.mainlink,
.activelink {
    @include link-styles(10px 1.5rem);
}

.mainlink-minimize,
.activelink-minimize {
    @include link-styles(10px 0.6rem);
}


.activelink,
.activelink-minimize {
    background-color: var(--mantine-color-light-blue-2);

    .label {
        @include light {
            color: black;
        }

        @include dark {
            color: black;
        }
    }
}

.mainlink:hover,
.mainlink-minimize:hover {
    background-color: var(--mantine-color-light-blue-2);

    .label {
        color: black;
    }
}

.sublink {
    display: block;
    text-align: left;
    padding: 5px 0 5px 70px;
    text-decoration: none;
    color: var(--mantine-color-shading-7);
}

.sublink:hover {

    @include light {
        background-color: var(--mantine-color-shading-1);
    }

    @include dark {
        background-color: #181818;
    }
}

.chevron {
    transition: transform 200ms ease;
}