@mixin link-styles($padding) {
    padding: $padding;
    display: block;
    width: 100%;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    .label {
        @include light {
            color: black;
        }

        @include dark {
            color: white;
        }

        padding-left: 15px;
    }
}

.sidebar {
    @include light {
        background-color: white;
    }

    @include dark {
        background-color: #1f1f1f;
    }

    position: sticky;
    top: 0;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 4px #00000024,
    0px 3px 3px #0000001f,
    0px 1px 8px #00000033;
    z-index: 10;

    @media (max-width: 900px) {
        width: 50px;
    }

    transition: width 300ms;
}

.linksInner {
    padding: 1rem 0;
}

.mainlink,
.activelink,
.disablelink {
    padding: 10px 1.5rem;
    display: block;
    width: 100%;
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    .label {
        @include light {
            color: black;
        }

        @include dark {
            color: white;
        }

        padding-left: 15px;
    }

    @media (max-width: 900px) {
        padding: 10px 0.6rem;
    }

    transition: padding 300ms;
}

.activelink {
    background-color: var(--mantine-color-light-blue-2);

    .label {
        @include light {
            color: black;
        }

        @include dark {
            color: black;
        }
    }
}

.disablelink {

    .label {
        @include light {
            color: rgb(173, 173, 173);
        }

        @include dark {
            color: rgb(173, 173, 173);
        }
    }
}

.mainlink:hover {
    background-color: var(--mantine-color-light-blue-2);

    .label {
        color: black;
    }
}

.sublink {
    display: block;
    text-align: left;
    padding: 5px 0 5px 70px;
    text-decoration: none;
    color: var(--mantine-color-shading-7);
}

.sublink:hover {

    @include light {
        background-color: var(--mantine-color-shading-1);
    }

    @include dark {
        background-color: #181818;
    }
}

.chevron {
    transition: transform 200ms ease;
}