.navbar {}

.container-main {
    display: flex;
    flex-direction: row;

    .container-detail {
        width: calc(100% - 250px);
        background-color: white;

        .table-container {
            background-color: light-dark(var(--mantine-color-white), var(--mantine-color-gray-9));
            padding: 20px;
            width: 95%;
            text-align: left;
            margin: 0 auto;
            position: relative;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
        }
    }
}